.review-docs-icon {
  background: url("../images/review_docs.svg") no-repeat;
}
.upload-docs-icon {
  background: url("../images/upload_docs.svg") no-repeat;
}
.print-sign-icon {
  background: url("../images/print_sign.svg") no-repeat;
}
.create-icon {
  background: url("../images/esign.svg") no-repeat;
}
.icon--large {
  padding: 15px;
  display: inline-block;
  width: 60px;
  height: 60px;
}