.em-cc--card {
  border-radius: 6px;
  background-color: $content-box-bgcolor;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #c7c9cb;
  padding: 20px 25px 10px 25px;
  height: 286px;
  position: relative;
}
